
/** ADD YOUR AWESOME CODES HERE **/
.pagination > li > a
{
    background-color: white;
    color: #B0B435;

}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #B0B435 !Important;
    border: solid 1px #B0B435 !Important;
}

.pagination > .active > a:hover
{
    background-color: #B0B435 !Important;
    border: solid 1px #B0B435;
}